.main-contato{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.titulo-contato{
    text-align: center;
    margin-top: 1rem;
}

.contato-contato{
    margin: 1rem auto;
    padding: 2rem;
    width: 780px;
    border-radius: 25px;
    background-color: #F8F8FF;
    box-shadow: 1px 1px 3px 3px #e7dede;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-contato{
    display: flex;
    flex-direction: column;
}

.label-contato-email{
    font-size: 20px;
    color: #F87800;
}

.email-input{
    width: 50%!important;
    margin: 0!important;
    height: 2rem;
    font-size: 17px;
    color: #03A4ED;

}
.email-input textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 17px;
}


.contato-input{
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #03A4ED;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.contato-input::-webkit-input-placeholder{
    font-size: 17px;
    opacity: 0.7;
    font-family: Poppins, sans-serif;
    color: #03A4ED;
}

.text-input{
    height: 300px;
    font-size: 17px;
    color: #03A4ED;
    font-family: Poppins, sans-serif;
    resize: none;
}

.text-input textarea:focus, .text-input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 17px;
}

@media (max-width:768px) {
    .contato-contato{
        width: 100%;
        padding: 1.5rem;
    }
    .email-input{
        width: 100%!important;
    }
}